body{
  background-color: rgba(186, 232, 232, 0.2);
}

header{
  background-color: #2f5167;
  color: #fff;
  padding: 10px;
  text-align: center;
}

header .center{
  font-size: 32px;
  line-height: 50px;
  display:inline-block;
  margin-left: 15%;
}

header .right{
  float:right;
  display:inline-block;
}

header button{
  width: 80px;
  height: 32px;
  transition: 0.5s;
}

header button:hover{
  background-color: rgba(232, 201, 44, 1);
}


.main-wrapper{
  width:100%;
  text-align: center;
}

.main-wrapper h3{
  border-bottom:1px solid;
  font-size: 32px;
}

.main-content{
  border-radius: 8px;
  border:1px solid;
  width:20%;
  height: 320px;
  background-color: white;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 20px;
}

.main-content h4{
  font-weight: bold;
}

.main-content button{
  background-color:rgba(194, 193, 186, 1);
  margin-bottom: 10px;
  width:50%;
  transition: 0.5s;
}

.main-content button:hover{
  background-color: rgba(232, 201, 44, 1);
}

.main-content img{
  width:40%;
  height:40%;
}

.main-button-wrapper{
  text-align: center;
}

.main-button button{
  width: 25%;
  display: inline-block;
  transition: 0.5s;
}

.main-button button:hover{
  background-color: rgba(232, 201, 44, 1);
}

.error-page{
  text-align: center;
  margin-top: 300px;
}

.error-page button{
  width: 100px;
  height: 50px;
  transition: 0.5s
}

.error-page button:hover{
  background-color: rgba(232, 201, 44, 1);
}

.extra-section{
  /* align-content: center; */
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.join {
  padding: 15px 40px;
  background-color: rgba(232, 201, 44, 1);
  cursor: pointer;
  box-shadow: 0 7px rgb(201, 169, 10);
}

.join:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

.extra-section a {
  text-decoration: none;
  color: black;
}

.btn {
  padding: 12px 24px;
  color: black;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.section-title {
  border-bottom: 1px solid;
  font-size: 32px;
  text-align: center;
}

.contact-form {
  padding-top: 50px;
  height: 450px
}

input, textarea{
  width:400px;
  margin-bottom:10px;
  padding:20px;
  font-size:18px;
  border:1px solid #dee7ec;
}

.footer {
  background-color: #2f5167;
  color: #fff;
  height: 50px;
  padding: 30px;

}

.footer-logo {
  float: left;
  font-size: 32px;
  line-height: 50px;
}

.img-footer{
  width: 45px;
}
@media all and (max-width: 1000px) {
    .main-content {
      width: 35%;
      margin-bottom: 50px;
    }
}
  
@media all and (max-width: 670px) {
    .main-content {
      width: 100%;
    }
}
