body{
  background-color: rgba(186, 232, 232, 0.2);
}

.main-wrapper{
  width:100%;
  text-align: center;
}

.main-wrapper h3{
  border-bottom:1px solid;
  font-size: 32px;
}

.main-content{
  border-radius: 8px;
  border:1px solid;
  width:20%;
  background-color: white;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 20px;
}

.main-content h4{
  font-weight: bold;
}

.main-content button{
  background-color:#008CBA;
  margin-bottom: 10px;
  width:50%;
}

.main-content img{
  width:40%;
  height:40%;
}

.main-button-wrapper{
  text-align: center;
}

.main-button button{
  width: 25%;
  display: inline-block;
}
